In [2]:
import requests 
import json 
import pandas 
from datetime import date
from datetime import timedelta
pandas.options.display.float_format = '{:.2f}'.format

today = date.today()
hier = today - timedelta(days=1)
hier = hier.strftime("%#m/%#d/%y")
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

#try:
   # r = requests.get(url)
   # r.raise_for_status()
#except requests.exceptions.RequestException as erreur:
#    print("Erreur de connexion Ã  l'adresse web suivante `{0}` : {1}".format(url, erreur))
#else: 
real_data = pandas.read_csv(url).fillna('N.D')
data = real_data.groupby(['Country/Region', 'Province/State'])[[hier]].sum()
data_sorted = data.sort_values(by=hier, ascending = False)
data_top = data_sorted.head(20)
data_top

                               4/2/20
Country/Region Province/State
US             N.D             243453
Italy          N.D             115242
Spain          N.D             112065
Germany        N.D              84794
China          Hubei            67802
France         N.D              59105
Iran           N.D              50468
United Kingdom N.D              33718
Switzerland    N.D              18827
Turkey         N.D              18135
Belgium        N.D              15348
Netherlands    N.D              14697
Austria        N.D              11129
Korea, South   N.D               9976
Portugal       N.D               9034
Brazil         N.D               8044
Israel         N.D               6857
Sweden         N.D               5568
Canada         Quebec            5518
Norway         N.D               5147

In [7]:
url2 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
rawdatar = pandas.read_csv(url2).fillna('N.D')
datar_group = rawdatar.groupby(['Country/Region', 'Province/State'])[[hier]].sum()
datar_group_sorted = datar_group.sort_values(by=hier, ascending = False)
datar_group_top = datar_group_sorted.head(20)
datar_group_top

                               4/2/20
Country/Region Province/State
China          Hubei            63471
Spain          N.D              26743
Germany        N.D              22440
Italy          N.D              18278
Iran           N.D              16711
France         N.D              12428
US             N.D               9001
Korea, South   N.D               5828
Switzerland    N.D               4013
Belgium        N.D               2495
Austria        N.D               1749
Canada         N.D               1735
China          Guangdong         1365
               Henan             1251
               Zhejiang          1228
Denmark        N.D               1089
China          Hunan             1014
               Anhui              984
               Jiangxi            935
Malaysia       N.D                767

In [8]:
url3 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
rawdatad = pandas.read_csv(url3).fillna('N.D')
datad_group = rawdatad.groupby(['Country/Region', 'Province/State'])[[hier]].sum()
datad_group_sorted = datad_group.sort_values(by=hier, ascending = False)
datad_group_top = datad_group_sorted.head(20)
datad_group_top

                               4/2/20
Country/Region Province/State
Italy          N.D              13915
Spain          N.D              10348
US             N.D               5926
France         N.D               5387
China          Hubei             3199
Iran           N.D               3160
United Kingdom N.D               2921
Netherlands    N.D               1339
Germany        N.D               1107
Belgium        N.D               1011
Switzerland    N.D                536
Turkey         N.D                356
Brazil         N.D                324
Sweden         N.D                308
Portugal       N.D                209
Indonesia      N.D                170
Korea, South   N.D                169
Austria        N.D                158
Denmark        N.D                123
Ecuador        N.D                120